Новый заказ {{ new_purchase_number }}!
<h2>Заказ:</h2>
<table><tr>
<td><b>№</b></td>
<td><b>Серия</b></td>
<td><b>Размер</b></td>
<td><b>Модель №</b></td>
<td><b>Количество</b></td>
<td><b>Стоимость, грн</b></td>
<td><b>Сумма, грн</b></td></tr>
    {%  for k in cart %}<tr>
        <td>{{ k.0 }}</td>
        <td>{{ k.1 }}</td>
        <td>{{ k.2 }}</td>
        <td>{{ k.3 }}</td>
        <td>{{ k.4 }}</td>
        <td>{{ k.5 }}</td>
        <td>{{ k.6 }}</td></tr>
    {% endfor %}
<tr><td colspan="6"><b>Итого сумма заказа:</b></td><td><b>{{ summ }} грн </b></td></tr></table>
