{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Интернет-магазин мужского нижнего белья Calvin Klein в Украине. Качественное белье трусы боксеры по выгодной цене. Широкий ассортимент моделей и цветов.">
    <meta name="keywords" content="трусы мужские, мужские трусы, мужское нижнее белье, трусы боксеры, купить мужские трусы, трусы кельвин кляйн, семейные трусы, серия, мужское белье киев, мужские трусы calvin klein, мужское нижнее белье украина, боксеры трусы, мужское белье, купить мужское белье, прикольные мужские трусы, интернет-магазин мужского нижнего белья, индивидуальная упаковка, подарочная упаковка">
{% endblock %}
{% block title %}Мужское нижнее белье (трусы боксерки) Calvin Klein - Купить в Украине{% endblock %}

{% block content %}
    <div class="main">
        <h1>О магазине</h1>
        <hr>
        <img src="{% static "img/man_main.png" %}" align="left" alt="Интернет-магазин мужского нижнего белья Calvin Klein"/>
        <h6><p>Мы рады приветствовать Вас на нашем сайте!</p></h6>
        <h6><p>Наш <strong>интернет-магазин мужского нижнего белья</strong> предлагает высококачественную продукцию мирового бренда <strong>Calvin Klein</strong>.</p>
        <p>В нашем интернет-магазине мы предлагаем только качественный продукт в котором используются исключительно натуральные ткани. Также стоит отметить удивительную стойкость красок  к стиркам, в чем можете убедиться самостоятельно, сделав у нас заказ.</p>
        <p>Мы представили широкий ассортимент моделей и цветовой гаммы на любой вкус, наши менеджеры помогут правильно подобрать нужный размер и выбрать нужную модель.</p>
        <p><strong>Купить нижнее белье</strong> Вы можете через <a href="/cart/"><strong>корзину</strong></a> на сайте либо по телефонам указанным в <a href="/contacts/"><strong>контактах</strong></a>. Мы всегда на связи и рады Вашему звонку!</p></h6>
        <h1>О товаре</h1>
        <hr>
        <h6><p><strong>Бренд Calvin Klein</strong> уже давно закрепился лидером на рынке <strong>мужского нижнего белья</strong>, ведь <strong>нижнее белье</strong> может многое сказать о мужчине и, соответственно, многие уделяют этому большое внимание.</p>
        <p><strong>Мужское нижнее белье Calvin Klein</strong> производится с применением высококачественной микрофибры, что делает их очень мягкими и эластичными. <strong>Трусы боксеры Calvin Klein</strong> удобны для ежедневного ношения в течение всего дня. Облегающий мешочек обеспечивает дополнительный комфорт и поддержку, а широкая резинка с логотипом Calvin Klein дополняет стильный дизайн трусов оригинальной контрастной деталью. Каждая пара белья идет в красивой фирменной герметичной упаковке.</p></h6>
        <h5><p><a href="/steel/page/1/"><strong>Серия STEEL</strong></a> Состав материала: 93% <a href="http://goo.gl/WPXHbd" target="_blank">Модал</a>, 7% Лайкра</p>
        <p><a href="/365/page/1/"><strong>Серия 365</strong></a> Состав материала: 93% Хлопок, 7% Лайкра</p></h5>
        <div class="two_column"><img src="{% static "img/package365.png" %}" align="left" alt="Индивидуальная герметическая упаковка для каждой единицы трусов боксерок"/></div>
        <div class="two_column"><img src="{% static "img/steel.png" %}" align="left" alt="Широкий ассортимент моделей и цветовой гаммы"/></div>
    </div>
{% endblock %}
