{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Условия оплаты и доставки мужского нижнего белья по Украине, Киеву наложенным платежом или курьером">
    <meta name="keywords" content="Оплата, доставка по Украине, доставка по Киеву, новая почта, нова пошта, наложенный платеж, терминал, предоплата, приватбанк, курьер">
{% endblock %}
{% block title %}Оплата и доставка - Мужское белье купить в Украине с доставкой{% endblock %}


{% block content %}
        <div class="main">
            <h1>Оплата и доставка</h1>
            <hr>
        </div>
<div class='two_column'>
    <h2>Оплата</h2>
    <h4>Оплату в нашем интернет-магазине Вы можете осуществить двумя способами:</h4>
    <h3>1. Предоплата на карточку Приватбанка</h3>
    <p>- через <a href='https://privatbank.ua/map/' target="_blank">терминал самообслуживания или кассу ПриватБанка</a></p>
    <p>- через <a href='https://www.privat24.ua/' target="_blank">интернет-банк "Приват24"</a></p>
    <p>- через мобильное приложение "Приват24"</p>
    <p>&nbsp;</p>
    <p><i>Реквизиты для оплаты отправляются смс-сообщением после подтверждения заказа.</i></p>
    <h3>2. <strong>Оплата наложенным платежом</strong></h3>
    <p><strong>Оплата при получении</strong> возможна только при отправке заказа "Новой Почтой".</p>
    <p><i>Внимание:</i> При оплате заказа <strong>наложенным платежом</strong>, взимается комиссия за обратную пересылку денег (наложенного платежа) по тарифам "Новой Почты".</p>
    <p>Минимальная стоимость доставки наложенным платежом составляет 50 грн и зависит от суммы наложенного платежа, веса и объема посылки. Экономьте на доставке, оплачивая заказы предоплатой на карту ПриватБанка. Стоимость доставки при предоплате составляет всего около 25 грн и зависит только от веса и объема посылки. </p>
</div>
<div class='two_column'>
    <h2>Доставка</h2>
    <h4><strong>Доставка</strong> нашим магазином <strong>по Украине</strong> производится Новой Почтой. Также есть адресная доставка по Киеву:</h4>
    <h3>1. Новой почтой по Украине</h3>
    <a href='http://novaposhta.ua/' target="_blank"><img src="{% static "img/nova_poshta.png" %}" width="542" height="106" /></a></p>
    <p>Новая Почта имеет самую широкую сеть представительств по всей территории Украины, с <a href='http://novaposhta.ua/uk/office' target="_blank">отделениями</a> даже в небольших населенных пунктах. Работает четко, быстро и дешево.</p>
    <p>Именно поэтому мы работаем по Украине именно с этим перевозчиком.</p>
    <p><strong>Сроки доставки</strong> составляют 1-2 дня по всей Украине.</p>
    <p><strong>Стоимость доставки</strong> составляет от 25 до 50 грн в зависимости от способа оплаты, веса и объема посылки.</p>
    <p>После отправки посылки Вы получаете смс-сообщение с номером декларации, по которому можно <a href='http://novaposhta.ua/tracking' target="_blank">отследить перемещение посылки</a>.</p>
    <h3>2. <strong>Курьером по Киеву</strong></h3>
    <img src="{% static "img/courier.png" %}" align="left" alt="Доставка курьером по Киеву"/>
    <p>Живете в Киеве и не желаете идти на Новую Почту? Не проблема!</p>
    <p>Мы доставим Ваш заказ в любую точку Киева в удобное для Вас время. Стоимость доставки составляет от 35 грн в зависимости от адреса.</p>
</div>
{% endblock %}
